<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <style>
                .container {
                position: relative;
                text-align: center;
                color: rgb(14, 28, 88);
                }

                .centered {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                }
        </style>
    </head>

    <body>
        <div class="container">
                <img src="pic2.jpeg" alt="Snow" style="width:100%;height: 80%;">
                <div class="centered"><h1 style="font-size:80px;">ToDo App</h1></div>
        </div>

        <div class="content">
            <a href=/newTasks> Add New Task </a> </br>

            <a href=/listTask>  List All Tasks </a> 
        </div>
    </body>
</html>