<html>
     <head>
         <link rel="stylesheet" href="style.css">
    </head>

    <body>
        
        <h1>
            Add New Task
        </h1>
                <a href="/"> Home </a> </br>
                <a href=/listTask>List All Tasks</a>

                <form action="/addTasks" method ="POST">
                Task Name <input type ="text" name ="taskName"> </br>
                Task Due <input type ="text" name ="taskDue"> </br>
                Task Desc <input type ="text" name ="taskDesc"> </br>

                <button>Submit</button> 

                </form>

    </body>
</html>